In [16]:
##Student no: 214755718
##Name: Nkuna HT
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
import pickle

In [3]:
dataset = pd.read_csv("emails.csv")

In [4]:
dataset.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [6]:
dataset = dataset.drop("Email No." , axis = 1)
dataset.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0

In [7]:
x = dataset.drop("Prediction" , axis = 1)
y = dataset["Prediction"]

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2)

In [9]:
model = RandomForestClassifier()

In [10]:
model.fit(x_train , y_train)

RandomForestClassifier()

In [11]:
model.score(x_test , y_test)

0.9623188405797102

In [12]:
model = RandomForestRegressor()

In [13]:
model.fit(x_train , y_train)

RandomForestRegressor()

In [15]:
print("Accuracy: ",model.score(x_test , y_test))

Accuracy:  0.8367357701113128

In [19]:
with open('spam_classifier.pkl', 'wb') as file:
    pickle.dump(RandomForestClassifier(), file)